#Copyright (c) 2014-2017, NVIDIA CORPORATION.  All rights reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import /vendor/etc/init/hw/init.tegra_emmc.rc
import /vendor/etc/init/hw/init.t210.rc
import /vendor/etc/init/hw/init.loki_e_common.rc
import /vendor/etc/init/hw/init.lkm.rc

on fs
    mount_all /vendor/etc/fstab.icosa
    swapon_all /vendor/etc/fstab.icosa

on init
    setprop ro.product.vendor.device icosa
    setprop ro.product.vendor.model "Switch"
    setprop ro.product.vendor.name icosa

    setprop ro.product.first_api_level 27
    setprop ro.vendor.product.config.shipped_with_full_treble false

    setprop ro.vendor.nv.usb.vid 057E
    setprop ro.vendor.nv.usb.pid.mtp 2000
    setprop ro.vendor.nv.usb.pid.mtp.adb 2000
    setprop ro.vendor.nv.usb.pid.ptp 2000
    setprop ro.vendor.nv.usb.pid.ptp.adb 2000
    setprop ro.vendor.nv.usb.pid.rndis 2000
    setprop ro.vendor.nv.usb.pid.rndis.adb 2000
