#Copyright (c) 2014-2018, NVIDIA CORPORATION.  All rights reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import /vendor/etc/init/hw/init.tegra_emmc.rc
import /vendor/etc/init/hw/init.t210.rc
import /vendor/etc/init/hw/init.ray_touch.rc
import /vendor/etc/init/hw/init.cal.rc
import /vendor/etc/init/hw/init.lkm.rc

on init
    setprop ro.hardware.gatekeeper trusty.tegra

# override cpuset cpus to 0-3, mems to 0
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/foreground/mems 0
    write /dev/cpuset/foreground/boost/cpus 0-3
    write /dev/cpuset/foreground/boost/mems 0
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/background/mems 0
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/system-background/mems 0
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/top-app/mems 0

on fs
    setprop ro.wifi.sdmmc 1
    setprop audio.custompolicy 1
    setprop ro.crypto.tmpfs_options size=128m,mode=0771,uid=1000,gid=1000
    setprop ro.crypto.umount_sd false
    setprop ro.crypto.fuse_sdcard true
    mount_all /vendor/etc/fstab.jetson_e
    swapon_all /vendor/etc/fstab.jetson_e

    # start Early Loadable Kernel Module service
    exec /vendor/bin/lkm_loader.sh early

on post-fs-data
    chmod 0444 /sys/devices/platform/tegra-fuse/aid

#start pbc daemon
service pbc2 /system/vendor/bin/pbc2
    class main
    user system
    group system

on property:sys.boot_completed=1
    write /sys/devices/virtual/android_usb/android0/uevent_in_suspend N

on boot
    # start Loadable Kernel Module service
    start vendor.lkm_loader
