#Copyright (c) 2014-2017, NVIDIA CORPORATION.  All rights reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import init.loki_foster_e_common.rc
import init.ndiscovery.rc

on boot
    chown system system /sys/class/leds/led_lightbar/brightness
    chown system system /sys/class/leds/led_lightbar/boot_mode
    chown system system /sys/class/leds/led_lightbar/version
    chown system system /sys/class/leds/led_lightbar/effects
    chown system system /sys/class/leds/led_lightbar/params
    write /sys/devices/system/cpu/cpuquiet/runnable_threads/nr_run_thresholds "6 10 18"

    # Lower console loglevel to reduce number of printk messages to console
    write /proc/sys/kernel/printk "4 7 1 7 3"

on post-fs-data
# Set Foster as console mode
    setprop persist.sys.display.resolution 1920x1080
    setprop persist.tegra.composite.policy composite-yuv
    setprop persist.tegra.composite.range Auto
    setprop sys.wal.off external.db,iu.upload.db
    setprop sys.wal.normal tz4,PGDatabase,launcher.db,playlog.db,music.db
    write /sys/power/wake_lock foster-staywake

on post-fs-data
    chown system system /factory/wifi_config
    chown system system /factory/wifi_config/FSS.txt
    chown system system /factory/wifi_config/country_code.txt
    chown system system /factory/wifi_config/country_code.sig
    chown system system /factory/wifi_config/package.txt
    restorecon_recursive /factory/wifi_config
    mkdir /data/provTest 0700 root drmrpc

on post-fs-data
# Jarvis permission
    chmod 660 /sys/bus/hid/drivers/Jarvis/hid_miss_stats
    chown system system /sys/bus/hid/drivers/Jarvis/hid_miss_stats

on post-fs-data
    # Set SELinux security contexts for NvCPL keylayout files.
    mkdir /data/system/devices 0774 system system
    mkdir /data/system/devices/keylayout 0774 system system
    restorecon_recursive /data/system/devices/keylayout

on post-fs-data
    # Create /data/misc/frostlog to store Frost's log files
    mkdir /data/misc/frostlog 0770 system system

on init
    mkdir /mnt/media_rw/usbdrive2 0700 media_rw media_rw
    mkdir /storage/usbdrive2 0700 root root
    symlink /mnt/media_rw/usbdrive2 /usbdrive2

    mkdir /mnt/media_rw/usbdrive3 0700 media_rw media_rw
    mkdir /storage/usbdrive3 0700 root root
    symlink /mnt/media_rw/usbdrive3 /usbdrive3

service fuse_usbdrive2 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbdrive2 /storage/usbdrive2
    class late_start
    disabled

service fuse_usbdrive3 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbdrive3 /storage/usbdrive3
    class late_start
    disabled

service factory_tests /vendor/bin/factory_tests
    class main
    group drmrpc
    oneshot
    disabled

service cac_log_dumper /vendor/bin/cac_log_dumper
    class late_start
    user system
    group system
    oneshot

on post-fs-data
    chmod 660 /cache/logs/last_boot_dmesg.txt
    chown cache system /cache/logs/last_boot_dmesg.txt
    chmod 660 /cache/logs/last_boot_logcat.txt
    chown cache system /cache/logs/last_boot_logcat.txt

on property:sys.boot_completed=1
    start factory_tests

# Core dump
on property:vold.post_fs_data_done=1 && property:ro.debuggable=1
    # Core dump generation
    mkdir /data/core
    chmod 777 /data/core
    # use program.pid.uid.time.core as core file name
    write /proc/sys/kernel/core_pattern /data/core/%e.%p.%u.%t.core
    # corefile limit
    setrlimit 4 -1 -1
    # create core dump file directory
    write /proc/sys/fs/suid_dumpable 2
