#Copyright (c) 2014-2018, NVIDIA CORPORATION.  All rights reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import /vendor/etc/init/hw/init.tegra_emmc.rc
import /vendor/etc/init/hw/init.t210.rc
import /vendor/etc/init/hw/init.ray_touch.rc
import /vendor/etc/init/hw/init.cal.rc
import /vendor/etc/init/hw/init.lkm.rc

# Use Keymaster 1 HAL
on init
    setprop ro.hardware.keystore v1.tegra

on fs
    setprop ro.wifi.sdmmc 1
    setprop audio.custompolicy 1
    setprop ro.crypto.tmpfs_options size=128m,mode=0771,uid=1000,gid=1000
    setprop ro.crypto.umount_sd false
    setprop ro.crypto.fuse_sdcard true
    mount_all /vendor/etc/fstab.jetson_e
    swapon_all /vendor/etc/fstab.jetson_e

    # start Early Loadable Kernel Module service
    exec /vendor/bin/lkm_loader.sh early

#start pbc daemon
service pbc2 /system/vendor/bin/pbc2
    class main
    user system
    group system

on property:sys.boot_completed=1
    write /sys/devices/virtual/android_usb/android0/uevent_in_suspend N

on boot
    # start Loadable Kernel Module service
    start lkm_loader

on init
    setprop ro.product.vendor.device jetson
    setprop ro.product.vendor.model "Jetson P2530"
    setprop ro.product.vendor.name jetson_e

    setprop ro.product.first_api_level 21
    setprop ro.vendor.product.config.shipped_with_full_treble false

    setprop ro.vendor.nv.usb.pid.mtp EE02
    setprop ro.vendor.nv.usb.pid.mtp.adb EE03
    setprop ro.vendor.nv.usb.pid.ptp EE04
    setprop ro.vendor.nv.usb.pid.ptp.adb EE05
    setprop ro.vendor.nv.usb.pid.rndis EE08
    setprop ro.vendor.nv.usb.pid.rndis.adb EE09
