#Copyright (c) 2014-2017, NVIDIA CORPORATION.  All rights reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import init.tegra_emmc.rc
import init.t210.rc
import init.foster_e_common.rc

on fs
    mount_all /fstab.darcy
    swapon_all /fstab.darcy
# convertible usb mode selection
    chown system system /sys/class/extcon/ID/connect

on boot && property:persist.convertible.usb.mode=host
    write /sys/class/extcon/ID/connect "USB-HOST"

on firmware_mounts_complete
    symlink /system/etc/nvram_darcy_a00.txt /data/misc/wifi/firmware/nvram.txt
