#Copyright (c) 2014-2018, NVIDIA CORPORATION.  All rights reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.
#THIS IS A COMMON FILE FOR FOSTER AND LOKI

import /vendor/etc/init/hw/init.lkm.rc

on fs
    # Assuming system takes 1GB runtime RAM, dedeuct it from GPU comptag memory allocation
    write /sys/devices/57000000.gpu/comptag_mem_deduct 1024

    setprop ro.wifi.sdmmc 1
    setprop persist.vendor.sys.dpy0.prism 0
    setprop camera.disable_zsl_mode 1
    setprop ro.config.media_vol_default 15

    # start Early Loadable Kernel Module service
    exec /vendor/bin/lkm_loader.sh early
    restorecon_recursive /sys

#start pbc daemon
service pbc2 /system/vendor/bin/pbc2
    class main
    user system
    group system
    disabled

on post-fs-data
    chmod 664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 664 /sys/kernel/debug/cpuidle_t210/fast_cluster_states_enable
    chown system system /sys/kernel/debug/cpuidle_t210/fast_cluster_states_enable
    chmod 664 /sys/devices/gpu.0/railgate_enable
    chown system system /sys/devices/gpu.0/railgate_enable
    chmod 664 /sys/module/tegra210_dvfs/parameters/disable_core
    chown system system /sys/module/tegra210_dvfs/parameters/disable_core
    chmod 664 /sys/class/net/wlan0/device/rf_test/state
    chown system system /sys/class/net/wlan0/device/rf_test/state
    chmod 664 /sys/devices/gpu.0/aelpg_enable
    chown system system /sys/devices/gpu.0/aelpg_enable
    chmod 664 /sys/devices/gpu.0/blcg_enable
    chown system system /sys/devices/gpu.0/blcg_enable
    chmod 664 /sys/devices/gpu.0/elcg_enable
    chown system system /sys/devices/gpu.0/elcg_enable
    chmod 664 /sys/devices/gpu.0/elpg_enable
    chown system system /sys/devices/gpu.0/elpg_enable
    chmod 664 /sys/devices/gpu.0/slcg_enable
    chown system system /sys/devices/gpu.0/slcg_enable

on post-fs-data
    chmod 0444 /sys/devices/platform/tegra-fuse/aid

on boot
    # CPU and GPU governor scaling settings
    write /sys/devices/system/cpu/cpufreq/schedutil/up_rate_limit_us 0
    write /sys/devices/system/cpu/cpufreq/schedutil/down_rate_limit_us 2000
    write /sys/devices/system/cpu/cpufreq/schedutil/capacity_margin 256
    write /sys/devices/57000000.gpu/submit_boost_freq 691200
    write /sys/devices/57000000.gpu/submit_boost_time 500

    # start Loadable Kernel Module service
    start vendor.lkm_loader

    restorecon_recursive /sys/devices/system/cpu/cpufreq/interactive
    setprop persist.vendor.tegra.decompression cde-client

on property:init.svc.vendor.lkm_loader=stopped
    chmod 664 /sys/kernel/rt8168_power/mode
    chown system system /sys/kernel/rt8168_power/mode
    wait /sys/devices/57000000.gpu/devfreq/57000000.gpu/available_frequencies 10
    chmod 664 /sys/devices/57000000.gpu/devfreq/57000000.gpu/min_freq
    chown system system /sys/devices/57000000.gpu/devfreq/57000000.gpu/min_freq
    chmod 664 /sys/devices/57000000.gpu/devfreq/57000000.gpu/available_frequencies
    chown system system /sys/devices/57000000.gpu/devfreq/57000000.gpu/available_frequencies
    enable pbc2
    chmod 660 /sys/bus/hid/drivers/Jarvis/hid_miss_stats
    chown system system /sys/bus/hid/drivers/Jarvis/hid_miss_stats
    chmod 660 /sys/bus/hid/drivers/Jarvis/ts_joystick_stats
    chown system system /sys/bus/hid/drivers/Jarvis/ts_joystick_stats

on init
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/foreground/mems 0
    write /dev/cpuset/foreground/boost/cpus 0-3
    write /dev/cpuset/foreground/boost/mems 0
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/background/mems 0
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/system-background/mems 0
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/top-app/mems 0

    # ZRAM setup
    write /sys/block/zram0/comp_algorithm lz4

    # KSM setup
    write /sys/kernel/mm/ksm/sleep_millisecs 250
    write /sys/kernel/mm/ksm/pages_to_scan 100
    write /sys/kernel/mm/ksm/run 1

    setprop ro.hardware.gatekeeper tlk.tegra

on early-init
    # Disable Transparent HUGEPAGE
    write /sys/kernel/mm/transparent_hugepage/enabled "never"

# LMK tunables
on property:sys.boot_completed=1
    chown system system /sys/module/lowmemorykiller/parameters/minfree
    write /sys/module/lowmemorykiller/parameters/minfree 18432,23040,27648,80640,100000,124000
    chown system system /sys/module/lowmemorykiller/parameters/adj
    write /sys/module/lowmemorykiller/parameters/adj 0,100,200,300,600,800

# Free Memory tunables
on property:sys.boot_completed=1
    write /proc/sys/vm/extra_free_kbytes 0
    write /proc/sys/vm/min_free_kbytes 16384

# Ease any memory pressure based on power hints
on property:vendor.powerhal.reclaim_compact_mem=*
    # Purge inode, dentry and page caches
    write /proc/sys/vm/drop_caches 3
    # Try to compact memory
    write /proc/sys/vm/compact_memory 1
    # Try to compact the zRAM footprint
    write /sys/block/zram0/compact 1
