# Copyright (c) 2014-2019, NVIDIA CORPORATION.  All rights reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import /vendor/etc/init/hw/init.loki_foster_e_common.rc

on boot
    write /sys/devices/system/cpu/cpuquiet/runnable_threads/nr_run_thresholds "6 10 18"
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/enable 0

    # Lower console loglevel to reduce number of printk messages to console
    write /proc/sys/kernel/printk "4 7 1 7 3"

on boot && property:ro.build.type=user
    # Disable console logs in user build, print KERN_EMERG messages only
    setprop vendor.debug.enable_console_logs false
    write /dev/kmsg "Disabling kernel console prints. Prints can be enabled via the developer menu"

on post-fs-data
# Set Foster as console mode
    setprop persist.vendor.tegra.composite.range Auto
    setprop sys.wal.off external.db,iu.upload.db
    setprop sys.wal.normal tz4,PGDatabase,launcher.db,playlog.db,music.db
    write /sys/power/wake_lock foster-staywake

    # Disable rescue feature. This needs to be in vendor init, so that it
    # works on GSI images.
    setprop persist.sys.disable_rescue true

on post-fs-data
    chown system system /mnt/venodr/wifi_config
    chown system system /mnt/vendor/wifi_config/FSS.txt
    chown system system /mnt/vendor/wifi_config/country_code.txt
    chown system system /mnt/vendor/wifi_config/country_code.sig
    chown system system /mnt/vendor/wifi_config/package.txt
    restorecon_recursive /mnt/vendor/wifi_config

on property:init.svc.vendor.lkm_loader=stopped
    chown system system /sys/class/leds/led_lightbar/brightness
    chown system system /sys/class/leds/led_lightbar/boot_mode
    chown system system /sys/class/leds/led_lightbar/version
    chown system system /sys/class/leds/led_lightbar/effects
    chown system system /sys/class/leds/led_lightbar/params

on property:vendor.debug.enable_console_logs=true && property:ro.build.type=user
    write /proc/sys/kernel/printk "4 7 1 7 3"

on property:vendor.debug.enable_console_logs=false && property:ro.build.type=user
    write /proc/sys/kernel/printk "1 7 1 7 3"

service mossignerd /vendor/bin/mossignerd
    class late_start
    user system
