#Copyright (c) 2014-2016, NVIDIA CORPORATION.  All rights reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import init.tegra_emmc.rc
import init.t210.rc
import init.foster_e_common.rc

on post-fs-data
    start cyupdate

on fs
    mount_all /fstab.foster_e
    swapon_all /fstab.foster_e

service cyupdate /vendor/bin/cyupdate.sh
    class main
    user system
    group system
    oneshot
    disabled

on boot
    # Unset property inadvertently set previously
    setprop persist.tegra.0x523dc0 ""

on firmware_mounts_complete
    symlink /system/etc/nvram_foster_e_4354.txt /data/misc/wifi/firmware/nvram.txt
