#Copyright (c) 2014-2015, NVIDIA CORPORATION.  All rights reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import init.tegra.rc
import init.t210.rc
import init.foster_e_common.rc

on fs
    mount_all /fstab.foster_e
    swapon_all /fstab.foster_e

on post-fs-data
    mount ext4 /dev/block/platform/sdhci-tegra.3/by-name/RP3 /factory/wifi_config rw nosuid noexec nodev
    restorecon_recursive /factory/wifi_config
    mount ext4 /dev/block/platform/sdhci-tegra.3/by-name/RP3 /factory/wifi_config ro nosuid noexec nodev remount

on property:factory.wifi_country_code=*
    mount ext4 /dev/block/platform/sdhci-tegra.3/by-name/RP3 /factory/wifi_config rw remount
    chown system system /factory/wifi_config
    chown system system /factory/wifi_config/FSS.txt
    chown system system /factory/wifi_config/country_code.txt
    chown system system /factory/wifi_config/country_code.sig
    restorecon_recursive /factory/wifi_config
    start factoryconfig

on property:factory.sku_config=done
    mount ext4 /dev/block/platform/sdhci-tegra.3/by-name/RP3 /factory/wifi_config ro nosuid noexec nodev remount

service factoryconfig /system/bin/factoryconfig.sh
    class main
    user system
    group system sdcard_rw
    disabled
    oneshot
