/dev/tegra-throughput	0666	system	system
/dev/nvmap      0666    system  system
/dev/ov2710     0660    media   camera
/dev/imx091     0660    media   camera
/dev/ov7695     0660    media   camera
/dev/mt9m114    0660    media   camera
/dev/ov9772     0660    media   camera
/dev/imx135     0660    media   camera
/dev/imx132     0660    media   camera
/dev/imx214     0660    media   camera
/dev/imx179     0660    media   camera
/dev/ar0261     0660    media   camera
/dev/ov5693*    0660    media   camera
/dev/ov10823*   0660    media   camera
/dev/tegra_camera_ctrl 0660 media camera
/dev/camera*    0660    media   camera
/dev/focuser*   0660    media   camera
/dev/torch*     0660    media   camera
/dev/video0     0660    media   camera
/dev/video1     0660    media   camera
/dev/mipi-cal   0660    media   camera
/dev/spdif*     0660    system  audio
/dev/adf*       0660    media   graphics
/dev/tegra_dc*  0660    system  system
/dev/ttyACM*    0660    radio   system
/dev/ttyACM2    0660    media   system
/dev/ttyGS*     0660    radio   system
/dev/nvhdcp0    0666    system  system
/dev/nvhdcp1    0660    system  system
/dev/nvhost-vi         0660   media  camera
/dev/nvhost-isp        0660   media  camera
/dev/nvhost-ctrl-vi    0660   media  camera
/dev/nvhost-isp.1      0660   media  camera
/dev/nvhost-msenc      0660   media  camera
/dev/nvhost-nvdec      0660   media  camera
/dev/nvhost-nvjpg      0666   media  camera
/dev/nvhost-ctrl-isp   0660   media  camera
/dev/nvhost-ctrl-isp.1 0660   media  camera
/dev/nvhost-vic        0666   root   root
/dev/nvhost-gpu        0666   root   root
/dev/nvhost-tsec       0666   root   root
/dev/nvhost-tsecb      0666   root   root
/dev/nvhost-ctrl       0666   root   root
/dev/nvhost-as-gpu     0666   root   root
/dev/nvhost-ctrl-gpu   0666   root   root
/dev/nvhost-dbg-gpu    0666   root   root
/dev/nvhost-tsg-gpu    0666   root   root
/dev/nvhost-prof-gpu   0666   root   root
/dev/tlk_device        0660   system drmrpc
/dev/block/mmcblk0rpmb 0600   system drmrpc
/dev/tegra_cpc 0600   system drmrpc
/dev/nvhost-ctrl-nvdec 0660   media  drm
# for HDD nodes
/sys/devices/platform/tegra-sata* ata1/power/control    0660    system system
/sys/devices/platform/tegra-sata* ata1/host0/target0:0:0/0:0:0:0/power/autosuspend_delay_ms    0660    system system
/sys/devices/platform/tegra-sata* ata1/host0/target0:0:0/0:0:0:0/power/control    0660    system system
# for FM V4L2 Radio
/dev/radio      0666    system  radio
/dev/mpu        0640    system  system
/dev/mpuirq     0640    system  system
/dev/accelirq   0640    system  system
/dev/timerirq   0640    system  system
/dev/touch      0660    system  system
/dev/nvtouch      0660    system  system
/dev/nvtouch_dta      0666    system  system
/dev/nvtouch_dta_admin      0660    system system
/dev/ion        0666    system  system
/dev/timerinfo  0440    system  system
/dev/cpu_freq_min	0660	system	system
/dev/cpu_freq_max	0660	system	system
/dev/gpu_freq_min	0660	system	system
/dev/gpu_freq_max	0660	system	system
/dev/emc_freq_min	0660	system	system
/dev/min_online_cpus	0660	system	system
/dev/max_online_cpus	0660	system	system
/dev/quadd	0660	shell	shell
/dev/quadd_auth	0660	system	system
/sys/devices/virtual/input/input*	enabled	0660	system	system
/dev/hidraw*    0660    system  system
/dev/input/event*       0660    system  input
/dev/gps	0664	system	system
/sys/power/sysedp/consumers/icemdm state 0660 radio system
/dev/ttyTHS0	0664	root	system
/dev/ttyTHS2	0664	root	system
/dev/ttyTHS3	0660	bluetooth	bluetooth
/sys/devices/platform/tegra_cec cec_logical_addr_config	0660	system	system
/dev/tegra_cec	0660	system	system
# pmqos
/dev/constraint_cpu_freq 0660 system system
/dev/constraint_gpu_freq 0660 system system
/dev/constraint_online_cpus 0660 root system
# cpu cores
/sys/devices/system/cpu/cpu* online 0664 system system
/sys/devices/system/cpu/cpu* cpuquiet/active 0664 system system
/sys/devices/system/cpu/cpu* cpufreq/scaling_governor 0664 system system
/sys/devices/system/cpu/cpu* cpufreq/scaling_setspeed 0664 system system
/sys/devices/system/cpu/cpu* cpufreq/scaling_available_frequencies 0444 system system
/sys/devices/system/cpu/cpu* cpufreq/cpuinfo_cur_freq 0444 system system
# gk20a nodes
/sys/devices/platform/host1x gk20a.0/freq_request 0664 system system
/sys/devices/platform/host1x gk20a.0/user 0664 system system
/sys/devices/platform/host1x gk20a.0/devfreq/gk20a.0/cur_freq 0444 system system
/sys/devices/platform/host1x gk20a.0/load 0444 system system
/sys/devices/platform/host1x gk20a.0/counters_reset 0444 system system
/sys/devices/platform/host1x gk20a.0/slcg_enable 0664 system system
/sys/devices/platform/host1x gk20a.0/elcg_enable 0664 system system
/sys/devices/platform/host1x gk20a.0/elpg_enable 0664 system system
/sys/devices/platform/host1x gk20a.0/blcg_enable 0664 system system
/sys/devices/platform/host1x tegradc.0/enable 0664 system system
# LED nodes
/sys/devices/platform/tegra-xhci/*	brightness	0660	system	system
/sys/devices/platform/tegra-xhci/*	brightness2	0660	system	system
/sys/devices/platform/tegra-xhci/*	state	0660	system	system
/sys/devices/platform/tegra-xhci/*	state2	0660	system	system
/sys/bus/usb/devices/2-3:1.1/state	0660	system	system
/sys/bus/usb/devices/2-3:1.1/brightness	0660	system	system
/sys/bus/usb/devices/2-3:1.1/brightness2	0660	system	system
/sys/bus/usb/devices/2-3:1.1/state2	0660	system	system
/sys/class/nvshieldled/2-3:1.1/brightness	0660	system	system
/sys/class/nvshieldled/2-3:1.1/brightness2	0660	system	system
/sys/class/nvshieldled/2-3:1.1/state	0660	system	system
/sys/class/nvshieldled/2-3:1.1/state2	0660	system	system
/dev/cy8c-led-boot	0660	system	system
/sys/devices/platform/tegra21-i2c.0/i2c-0/0-0009/leds/led_lightbar boot_mode 0664 system system
/sys/devices/platform/tegra21-i2c.0/i2c-0/0-0009/leds/led_lightbar version 0664 system system
/sys/devices/platform/tegra21-i2c.0/i2c-0/0-0009/leds/led_lightbar effects 0664 system system
/sys/devices/platform/tegra21-i2c.0/i2c-0/0-0009/leds/led_lightbar params 0664 system system

# pwm-fan
/sys/devices/platform/pwm-fan.* state_cap 0664 system system
/sys/devices/platform/pwm-fan.* pwm_state_map 0664 system system
/sys/devices/platform/pwm-fan.* pwm_cap 0664 system system
/sys/devices/platform/pwm-fan.* cur_pwm 0444 system system
/sys/devices/platform/pwm-fan.* pwm_rpm_table 0444 system system
/sys/devices/platform/pwm-fan.* rpm_measured 0444 system system
/sys/devices/platform/pwm-fan.* step_time 0644 system system
/sys/devices/platform/pwm-fan.* tach_enable 0644 system system
/sys/devices/platform/pwm-fan.* target_pwm 0644 system system
/sys/devices/platform/pwm-fan.* temp_control 0644 system system


# sensors
/dev/iio:device*									0660	system	system

/sys/devices/nvs_dsm/iio:device*		enable					0660	system	system
/sys/devices/nvs_dsm/iio:device*		buffer/enable				0660	system	system
/sys/devices/nvs_dsm/iio:device*		buffer/length				0660	system	system
/sys/devices/nvs_dsm/iio:device*		scan_elements/in_timestamp_en		0660	system	system
/sys/devices/nvs_dsm/iio:device*		scan_elements/in_dsm_en			0660	system	system

/sys/devices/platform/nvs_dsm*		enable					0660	system	system
/sys/devices/platform/nvs_dsm*		buffer/enable				0660	system	system
/sys/devices/platform/nvs_dsm*		buffer/length				0660	system	system
/sys/devices/platform/nvs_dsm*		scan_elements/in_timestamp_en		0660	system	system
/sys/devices/platform/nvs_dsm*		scan_elements/in_dsm_en			0660	system	system

/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	enable					0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	buffer/enable				0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	buffer/length				0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_timestamp_en		0660	system	system

/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_accel_x_en		0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_accel_y_en		0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_accel_z_en		0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_accel_status_en 	0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_accel_flush				0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_accel_batch_period			0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_accel_batch_timeout			0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_accel_x_offset			0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_accel_y_offset			0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_accel_z_offset			0660	system	system

/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_anglvel_x_en		0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_anglvel_y_en		0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_anglvel_z_en		0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_anglvel_status_en 	0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_anglvel_flush			0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_anglvel_batch_period			0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_anglvel_batch_timeout		0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_anglvel_x_offset			0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_anglvel_y_offset			0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_anglvel_z_offset			0660	system	system

/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_anglveluncal_x_en 	0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_anglveluncal_y_en 	0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_anglveluncal_z_en 	0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_anglveluncal_flush			0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_anglveluncal_batch_period		0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_anglveluncal_batch_timeout		0660	system	system

/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_motion_en		0660	system  system

/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_geomagnrot_x_en 	0660	system  system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_geomagnrot_y_en 	0660	system  system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_geomagnrot_z_en 	0660	system  system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_geomagnrot_w_en 	0660	system  system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_geomagnrot_cos_en 	0660	system  system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_geomagnrot_flush			0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_geomagnrot_batch_period		0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_geomagnrot_batch_timeout		0660	system	system

/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_orientation_x_en 	0660	system  system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_orientation_y_en 	0660	system  system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_orientation_z_en 	0660	system  system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_orientation_flush			0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_orientation_batch_period		0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_orientation_batch_timeout		0660	system	system

/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_magn_x_en		0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_magn_y_en		0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_magn_z_en		0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_magn_status_en		0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_magn_flush				0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_magn_batch_period			0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_magn_batch_timeout			0660	system	system

/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_pressure_en		0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_pressure_flush			0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_pressure_batch_period		0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_pressure_batch_timeout		0660	system	system

/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_temp_en		0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_temp_flush				0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_temp_batch_period			0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_temp_batch_timeout			0660	system	system

/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_illuminance_en		0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_illuminance_flush			0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_illuminance_batch_period		0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_illuminance_batch_timeout		0660	system	system

/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	scan_elements/in_proximity_en		0660	system  system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_proximity_flush			0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_proximity_batch_period		0660	system	system
/sys/devices/platform/7000c000.i2c/i2c-0/0-00*	in_proximity_batch_timeout		0660	system	system

/sys/devices/platform/7000c400.i2c/i2c-1/1-00*	enable					0660	system	system
/sys/devices/platform/7000c400.i2c/i2c-1/1-00*	buffer/enable				0660	system	system
/sys/devices/platform/7000c400.i2c/i2c-1/1-00*	buffer/length				0660	system	system
/sys/devices/platform/7000c400.i2c/i2c-1/1-00*	scan_elements/in_timestamp_en		0660	system	system

/sys/devices/platform/7000c400.i2c/i2c-1/1-00*	scan_elements/in_proximity_en		0660	system  system
/sys/devices/platform/7000c400.i2c/i2c-1/1-00*	in_proximity_flush			0660	system	system
/sys/devices/platform/7000c400.i2c/i2c-1/1-00*	in_proximity_batch_period		0660	system	system
/sys/devices/platform/7000c400.i2c/i2c-1/1-00*	in_proximity_batch_timeout		0660	system	system

/sys/devices/platform/tegra-xhci/usb*	enable							0660	system	system
/sys/devices/platform/tegra-xhci/usb*	buffer/enable					0660	system	system
/sys/devices/platform/tegra-xhci/usb*	buffer/length					0660	system	system
/sys/devices/platform/tegra-xhci/usb*	scan_elements/in_timestamp_en	0660	system	system

/sys/devices/platform/tegra-xhci/usb*	scan_elements/in_accel_x_en		0660	system	system
/sys/devices/platform/tegra-xhci/usb*	scan_elements/in_accel_y_en		0660	system	system
/sys/devices/platform/tegra-xhci/usb*	scan_elements/in_accel_z_en		0660	system	system
/sys/devices/platform/tegra-xhci/usb*	scan_elements/in_accel_status_en 0660	system	system
/sys/devices/platform/tegra-xhci/usb*	in_accel_flush					0660	system	system
/sys/devices/platform/tegra-xhci/usb*	in_accel_batch_period			0660	system	system
/sys/devices/platform/tegra-xhci/usb*	in_accel_batch_timeout			0660	system	system
/sys/devices/platform/tegra-xhci/usb*	in_accel_x_offset				0660	system	system
/sys/devices/platform/tegra-xhci/usb*	in_accel_y_offset				0660	system	system
/sys/devices/platform/tegra-xhci/usb*	in_accel_z_offset				0660	system	system

/sys/devices/platform/tegra-xhci/usb*	scan_elements/in_anglvel_x_en	0660	system	system
/sys/devices/platform/tegra-xhci/usb*	scan_elements/in_anglvel_y_en	0660	system	system
/sys/devices/platform/tegra-xhci/usb*	scan_elements/in_anglvel_z_en	0660	system	system
/sys/devices/platform/tegra-xhci/usb*	scan_elements/in_anglvel_status_en 0660	system	system
/sys/devices/platform/tegra-xhci/usb*	in_anglvel_flush				0660	system	system
/sys/devices/platform/tegra-xhci/usb*	in_anglvel_batch_period			0660	system	system
/sys/devices/platform/tegra-xhci/usb*	in_anglvel_batch_timeout		0660	system	system
/sys/devices/platform/tegra-xhci/usb*	in_anglvel_x_offset				0660	system	system
/sys/devices/platform/tegra-xhci/usb*	in_anglvel_y_offset				0660	system	system
/sys/devices/platform/tegra-xhci/usb*	in_anglvel_z_offset				0660	system	system

/sys/devices/platform/tegra-xhci/usb*	scan_elements/in_magn_x_en		0660	system	system
/sys/devices/platform/tegra-xhci/usb*	scan_elements/in_magn_y_en		0660	system	system
/sys/devices/platform/tegra-xhci/usb*	scan_elements/in_magn_z_en		0660	system	system
/sys/devices/platform/tegra-xhci/usb*	scan_elements/in_magn_status_en	0660	system	system
/sys/devices/platform/tegra-xhci/usb*	in_magn_flush					0660	system	system
/sys/devices/platform/tegra-xhci/usb*	in_magn_batch_period			0660	system	system
/sys/devices/platform/tegra-xhci/usb*	in_magn_batch_timeout			0660	system	system

/sys/devices/virtual/misc/uhid/*	enable							0660	system	system
/sys/devices/virtual/misc/uhid/*	buffer/enable					0660	system	system
/sys/devices/virtual/misc/uhid/*	buffer/length					0660	system	system
/sys/devices/virtual/misc/uhid/*	scan_elements/in_timestamp_en	0660	system	system

/sys/devices/virtual/misc/uhid/*	scan_elements/in_accel_x_en		0660	system	system
/sys/devices/virtual/misc/uhid/*	scan_elements/in_accel_y_en		0660	system	system
/sys/devices/virtual/misc/uhid/*	scan_elements/in_accel_z_en		0660	system	system
/sys/devices/virtual/misc/uhid/*	scan_elements/in_accel_status_en 0660	system	system
/sys/devices/virtual/misc/uhid/*	in_accel_flush					0660	system	system
/sys/devices/virtual/misc/uhid/*	in_accel_batch_period			0660	system	system
/sys/devices/virtual/misc/uhid/*	in_accel_batch_timeout			0660	system	system
/sys/devices/virtual/misc/uhid/*	in_accel_x_offset				0660	system	system
/sys/devices/virtual/misc/uhid/*	in_accel_y_offset				0660	system	system
/sys/devices/virtual/misc/uhid/*	in_accel_z_offset				0660	system	system

/sys/devices/virtual/misc/uhid/*	scan_elements/in_anglvel_x_en	0660	system	system
/sys/devices/virtual/misc/uhid/*	scan_elements/in_anglvel_y_en	0660	system	system
/sys/devices/virtual/misc/uhid/*	scan_elements/in_anglvel_z_en	0660	system	system
/sys/devices/virtual/misc/uhid/*	scan_elements/in_anglvel_status_en 0660	system	system
/sys/devices/virtual/misc/uhid/*	in_anglvel_flush				0660	system	system
/sys/devices/virtual/misc/uhid/*	in_anglvel_batch_period			0660	system	system
/sys/devices/virtual/misc/uhid/*	in_anglvel_batch_timeout		0660	system	system
/sys/devices/virtual/misc/uhid/*	in_anglvel_x_offset				0660	system	system
/sys/devices/virtual/misc/uhid/*	in_anglvel_y_offset				0660	system	system
/sys/devices/virtual/misc/uhid/*	in_anglvel_z_offset				0660	system	system

/sys/devices/virtual/misc/uhid/*	scan_elements/in_magn_x_en		0660	system	system
/sys/devices/virtual/misc/uhid/*	scan_elements/in_magn_y_en		0660	system	system
/sys/devices/virtual/misc/uhid/*	scan_elements/in_magn_z_en		0660	system	system
/sys/devices/virtual/misc/uhid/*	scan_elements/in_magn_status_en	0660	system	system
/sys/devices/virtual/misc/uhid/*	in_magn_flush					0660	system	system
/sys/devices/virtual/misc/uhid/*	in_magn_batch_period			0660	system	system
/sys/devices/virtual/misc/uhid/*	in_magn_batch_timeout			0660	system	system

#Gamepad reset
/sys/devices/platform/gamepad*	gamepad_reset	0220	system	system

#Factory Reset Protection
/dev/block/platform/sdhci-tegra.3/by-name/RP2		0660	system	system

#Blake touchpad node
/sys/devices/platform/ozwpan/*	mode		0660	system	system
/sys/devices/platform/tegra-xhci/*	mode		0660	system	system

#sharp touch
/sys/devices/platform/7000da00.spi/spi_master/spi3/spi3.0 input/input0/enabled		0660	system	system
/sys/devices/platform/7000da00.spi/spi_master/spi3/spi3.0 touch/report_mode		0660	system	system
/sys/devices/platform/7000da00.spi/spi_master/spi3/spi3.0 touch/slowscan_enable		0660	system	system
/sys/devices/platform/7000da00.spi/spi_master/spi3/spi3.0 touch/version		0660	system	system
/sys/devices/platform/7000da00.spi/spi_master/spi3/spi3.0 touch/wakeup_enable		0660	system	system
/sys/devices/platform/7000da00.spi/spi_master/spi3/spi3.0 touch/log                    0664    system  system
/sys/devices/platform/7000da00.spi/spi_master/spi3/spi3.0 touch/version                0664    system  system

#Move usb camera node to camera dir
subsystem video4linux
	devname uevent_devname
	dirname /dev/camera

#Factory Reset Protection
/dev/block/platform/sdhci-tegra.3/by-name/RP2		0660	system	system
/dev/block/platform/tegra-sata.0/by-name/RP2		0660    system  system

#pepper hid nodes
/sys/devices/virtual/misc/uhid/0005:0955:7213*	timeout	0660	system	system

#Change dvb node owner&group
/dev/dvb*	0660	system	net_bind_service
