# Copyright (c) 2017, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# lkm_loader
type lkm_loader, domain;
type lkm_loader_exec, exec_type, file_type;

init_daemon_domain(lkm_loader)

allow lkm_loader shell_exec:file rx_file_perms;
allow lkm_loader toolbox_exec:file rx_file_perms;
allow lkm_loader kernel:system module_request;
allow lkm_loader system_file:file execute_no_trans;
allow lkm_loader system_file:system module_load;
allow lkm_loader self:udp_socket { create ioctl };
allow lkm_loader self:capability { net_raw net_admin };
allow lkm_loader self:netlink_route_socket { create setopt write getattr nlmsg_write read bind nlmsg_read };
allow lkm_loader self:capability sys_module;
allow lkm_loader proc_bcmdhd_pcie:file {open read};
allow lkm_loader sysfs_bcmdhd_pcie:file {open read};

