#Copyright (c) 2011-2015 NVIDIA Corporation.  All Rights Reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import init.nv_dev_board.usb.rc
import init.${ro.boot.modem}.rc
import init.comms.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug mode=0755

on init
    mkdir /dev/camera 0755 media camera
    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw

    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

    # create directory for mounting usb drives
    mkdir /mnt/media_rw/usbdrive 0700 media_rw media_rw
    mkdir /storage/usbdrive 0700 root root
    symlink /mnt/media_rw/usbdrive /storage/usbdrive
    symlink /mnt/media_rw/usbdrive /usbdrive

    # create directory for mounting calibration partition
    mkdir /mnt/factory 0666 system system

    mkdir /factory/wifi_config 0666 system system

    # create directory for mounting user calibration partition
    mkdir /usercalib 0771 system system

on fs
# mount console ramooops
   mount pstore pstore /sys/fs/pstore

on post-fs-data
    # We chown/chmod /usercalib again so because mount is run as root + defaults
    chown system system /usercalib
    chmod 0771 /usercalib

    # create the lost+found directories, so as to enforce our permissions
    mkdir /usercalib/lost+found 0770 root root

    # Set SELinux security contexts on upgrade or policy update.
    restorecon_recursive /usercalib

    mkdir /data/misc/dhcp 0770 dhcp dhcp
    mkdir /data/nvcam 0700 media camera
    chown dhcp dhcp /data/misc/dhcp

    #create folder for stats and audio stats
    mkdir /data/stats_share 0771 system system
    mkdir /data/stats_share/audio 0771 system system
    write /data/stats_share/audio/audio_stats.txt 0
    chown system system /data/stats_share/audio/audio_stats.txt
    chmod 666 /data/stats_share/audio/audio_stats.txt

    #create Nv sensors socket dir
    mkdir /data/misc/nvsipc 0777 system system

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

    # create directory for camera calibration data
    mkdir /mnt/factory/camera 0666 system system

    # create directory for mediaserver EGL blob cache
    mkdir /data/misc/mediaserver 0770 media media

    mkdir /data/anr 0773 root system

# Set up HDCP
import init.hdcp.rc

on boot

# backlight
    chown system system /sys/class/backlight/pwm-backlight/brightness

# didim
    chown system system /sys/devices/platform/host1x/tegradc.0/smartdimmer/enable
    chown system system /sys/devices/platform/host1x/tegradc.0/smartdimmer/aggressiveness
    chown system system /sys/devices/platform/host1x/tegradc.0/smartdimmer/sd_window
    chown system system /sys/devices/platform/host1x/tegradc.0/smartdimmer/sd_window_enable

# CMU
    chown system system /sys/devices/platform/host1x/tegradc.0/cmu_enable
    chown system system /sys/devices/platform/host1x/tegradc.1/cmu_enable

# power
    chown system system /sys/kernel/tegra_cap/core_cap_level
    chown system system /sys/kernel/tegra_cap/core_cap_state
    chown system system /sys/kernel/tegra_volt_cap/cpu_volt
    chmod 0664 /sys/kernel/tegra_volt_cap/cpu_volt
    chown system system /sys/module/cpu_tegra/parameters/cpu_user_cap
    chown system system /sys/devices/platform/host1x/gk20a.0/enable_3d_scaling

# audio
    chmod 0664 /sys/power/suspend/mode
    chown system audio /sys/power/suspend/mode

# Tegra wakeup monitor
    chown system system /sys/devices/platform/tegra_wakeup_monitor/cmd
    chown system system /sys/devices/platform/tegra_wakeup_monitor/monitor_enable
    chown system system /sys/devices/platform/tegra_wakeup_monitor/nf_enable
    chown system system /sys/devices/platform/tegra_wakeup_monitor/am_enable
    chown system system /sys/devices/platform/tegra_wakeup_monitor/init_ports
    chown system system /sys/devices/platform/tegra_wakeup_monitor/add_ports
    chown system system /sys/devices/platform/tegra_wakeup_monitor/del_ports

# nvdps
    chown system system /sys/devices/platform/host1x/tegradc.0/nvdps

# vrr
    chown system system /sys/devices/platform/host1x/tegradc.0/vrr/capability
    chown system system /sys/devices/platform/host1x/tegradc.0/vrr/max_fps
    chown system system /sys/devices/platform/host1x/tegradc.0/vrr/min_fps
    chown system system /sys/devices/platform/host1x/tegradc.0/vrr/max_flip_pct
    chown system system /sys/devices/platform/host1x/tegradc.0/vrr/max_adj_pct
    chown system system /sys/devices/platform/host1x/tegradc.0/vrr/max_dc_balance
    chown system system /sys/devices/platform/host1x/tegradc.0/vrr/max_inc_pct

# default SF to realtime
    setprop persist.sys.sf.realtime 1

# Default Read Ahead value for sdcards
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk1/queue/read_ahead_kb 2048

#ozwpan driver: WiFi direct USB shim driver
    chown system system /dev/ozwpan
    chown system system /sys/class/ozmo_wpan/ozwpan/devices
    chown system system /sys/class/ozmo_wpan/ozwpan/select
    chown system system /sys/class/ozmo_wpan/ozwpan/bind
    chmod 0660 /sys/class/ozmo_wpan/ozwpan/bind

# TLK storage service
import init.tlk.rc

# set hwui properties depending on the screen resolution and the memory size
service set_hwui_params /system/bin/set_hwui_params.sh
    class main
    user root
    group root
    oneshot

on property:ro.debuggable=1
    # EMC debug interface
    chmod 666 /sys/kernel/debug/tegra_emc/eack_state


service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

service fuse_usbdrive /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbdrive /storage/usbdrive
    class late_start
    disabled


# bugreport is triggered by the VOLUME-DOWN and VOLUME-UP keys
service bugreport /system/bin/dumpstate -d -p -B -z -o /data/data/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot
    keycodes 116 115 114

# nvidiafeedback triggered by nvidiafeedback app
service nvidiafeedback /system/bin/dumpstate -b -o /data/anr/nvfeedback.log
    class main
    disabled
    oneshot

on property:init.svc.nvidiafeedback=stopped
    # change permission for nvfeedback.log file
    chmod 0664 /data/anr/nvfeedback.log.txt

# Mount usb drives as /usbdrive. Generally usb drives are formatted with FAT
# filesystem, so we support FAT as of now.
on device-added-/sys/block/sda
  mount vfat /dev/block/sda /mnt/media_rw/usbdrive

on device-removed-/sys/block/sda
  umount /mnt/media_rw/usbdrive

# unified scaling setup
import init.ussrd.rc

# Enable rbe
# thresIncr:50  thresIncrCntMax:6  thresDecr:70  thresDecrCntMax:2
# The change from default is the thresDecrCntMax.  Default is 3.
service wlbwservice /system/bin/wlbwservice -t 50 6 70 2
    class main
    user system
    group system inet net_admin

# Customers should remove this line
import init.qvs.rc
