#Copyright (c) 2014, NVIDIA CORPORATION.  All rights reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

on boot
    chown system system /sys/class/leds/led_lightbar/brightness

on post-fs-data
# Set Foster as console mode
    setprop persist.sys.display.resolution 1920x1080
    setprop persist.tegra.hdmi.resolution Max_60Hz
    setprop persist.tegra.idle.minimum_fps 0
    write /sys/power/wake_lock foster-staywake
