import init.t210_common.rc

on boot
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/enable 0

# Sensor permissions
    chown system system /sys/class/sensors/light/device/amb_clear

# TCP divisor for traffic throttling
    chown system system /sys/module/tcp_output/parameters/tcp_window_divisor
