#Copyright (c) 2013-2014 NVIDIA Corporation.  All Rights Reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import init.tegra.rc

on post-fs-data
    mount ext4 /dev/block/platform/sdhci-tegra.3/by-name/FCT /mnt/factory ro context=u:object_r:factory_file:s0

# create filesystems if necessary
service setup_fs /system/bin/setup_fs \
        /dev/block/platform/sdhci-tegra.3/by-name/UDA \
        /dev/block/platform/sdhci-tegra.3/by-name/CAC \
        /dev/block/platform/sdhci-tegra.3/by-name/FCT \
        /dev/block/platform/sdhci-tegra.3/by-name/UCB \
        /dev/block/platform/sdhci-tegra.3/by-name/RP3
    class core
    user root
    group root
    oneshot
