#Copyright (c) 2011-2013 NVIDIA Corporation.  All Rights Reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

on boot
    mkdir /data/misc/wifi2 0771 wifi wifi
    mkdir /data/misc/wifi2/sockets 0770 wifi wifi

service wpa_supplicant2 /system/bin/wpa_supplicant_2 \
    -ixlan0 -Dnl80211 -c/data/misc/wifi2/wpa_supplicant.conf \
    -I/system/etc/wifi2/wpa_supplicant_overlay.conf \
    -e/data/misc/wifi2/entropy.bin -g@android:wpa_xlan0
    class main
    socket wpa_xlan0 dgram 660 wifi wifi
    disabled
    oneshot

service p2p_supplicant2 /system/bin/wpa_supplicant_2 \
    -ixlan0 -Dnl80211 -c/data/misc/wifi2/wpa_supplicant.conf \
    -m /data/misc/wifi2/p2p_supplicant.conf -O/data/misc/wifi2/sockets \
    -e/data/misc/wifi2/entropy.bin -puse_p2p_group_interface=1p2p_device=1 \
    -g@android:wpa_xlan0
    class main
    socket wpa_xlan0 dgram 660 wifi wifi
    disabled
    oneshot

