#Copyright (c) 2014-2015, NVIDIA CORPORATION.  All rights reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import init.tegra_sata.rc
import init.t210.rc
import init.foster_e_common.rc

on fs
    write /sys/block/sda/queue/scheduler deadline
    write /sys/block/sda/queue/iosched/read_expire 1000
    write /sys/block/sda/queue/iosched/write_expire 40000
    write /sys/block/sda/queue/iosched/writes_starved 16
    mount_all /fstab.foster_e_hdd
    swapon_all /fstab.foster_e_hdd

# factory reset protection
    mkdir /persistent 0660 system system
    setprop ro.frp.pst /dev/block/platform/tegra-sata.0/by-name/RP2


on post-fs-data
    mount ext4 /dev/block/platform/tegra-sata.0/by-name/RP3 /mnt/wifi_config ro nosuid noexec nodev


on property:factory.wifi_country_code=*
    mount ext4 /dev/block/platform/tegra-sata.0/by-name/RP3 /mnt/wifi_config rw remount
    copy ${factory.wifi_country_code}.sig /mnt/wifi_config/country_code.sig
    copy ${factory.wifi_country_code}.txt /mnt/wifi_config/country_code.txt
    copy ${factory.sku_config}.txt /mnt/wifi_config/FSS.txt
    chown system system /mnt/wifi_config
    chown system system /mnt/wifi_config/country_code.sig
    chown system system /mnt/wifi_config/country_code.txt
    chown system system /mnt/wifi_config/FSS.txt
    chmod 664 /mnt/wifi_config/country_code.sig
    chmod 664 /mnt/wifi_config/country_code.txt
    chmod 664 /mnt/wifi_config/FSS.txt
    restorecon_recursive /mnt/wifi_config
    mount ext4 /dev/block/platform/tegra-sata.0/by-name/RP3 /mnt/wifi_config ro nosuid noexec nodev remount
