#Copyright (c) 2014, NVIDIA CORPORATION.  All rights reserved.
#
#NVIDIA Corporation and its licensors retain all intellectual property and
#proprietary rights in and to this software and related documentation.  Any
#use, reproduction, disclosure or distribution of this software and related
#documentation without an express license agreement from NVIDIA Corporation
#is strictly prohibited.

import init.diag.rc
import init.cal.rc

on fs
    setprop ro.wifi.sdmmc 1
    setprop audio.custompolicy 1
    setprop ro.crypto.tmpfs_options size=128m,mode=0771,uid=1000,gid=1000
    setprop ro.crypto.umount_sd false
    setprop ro.crypto.fuse_sdcard true
    setprop persist.sys.dpy0.prism 0

#create NFC symlink
    mkdir /data/nfc
    chmod 0770 /data/nfc/
    chown nfc system /data/nfc/
    symlink /system/etc/android.hardware.nfc.xml /data/nfc/nfc.xml

# factory reset protection
    mkdir /persistent 0660 system system
    setprop ro.frp.pst /dev/block/platform/sdhci-tegra.3/by-name/RP2

#start pbc daemon
service pbc2 /system/vendor/bin/pbc2
    class main
    user system
    group system

service charger /charger
    class charger

on charger
    mount ext4 /dev/block/platform/sdhci-tegra.3/by-name/APP /system wait ro
    setprop persist.sys.usb.config mtp
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/enable 1
    write /sys/devices/system/cpu/cpuquiet/current_governor runnable
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/no_lp -1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor powersave

on post-fs-data
    setprop persist.sys.display.resolution 1920x1080
