# Copyright (c) 2015, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type adb_enable, domain;
type adb_enable_exec, exec_type, file_type;

init_daemon_domain(adb_enable)
set_prop(adb_enable, system_radio_prop)
set_prop(adb_enable, udc_prop)

allow adb_enable shell_exec:file read;
allow adb_enable system_file:file execute_no_trans;
