# Copyright (c) 2014-2015, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# qvs: this file is used by qvs applications to have
# permission to run on boot.
type qvs_exec, file_type, exec_type;

userdebug_or_eng(`
  type qvs, domain;
  permissive qvs;
  init_daemon_domain(qvs)
  #qvs entry file is a shell script
  allow qvs shell_exec:file rx_file_perms;
  #allow execution of qvs application from /system/bin
  allow qvs system_file:file rx_file_perms;
  #allow pseudo tty
  allow qvs devpts:chr_file rw_file_perms;
  #Transition into zygote domain, if zygote_exe is found.
  domain_auto_trans(qvs, zygote_exec, zygote)
  allow qvs self:process setcurrent;
  allow qvs su:process dyntransition;
')
