# Copyright (c) 2014, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Allow untrusted apps to access tsecb dev node
allow untrusted_app tsec_device:chr_file rw_file_perms;

# Access to read SOC family
r_dir_file(untrusted_app, sysfs_soc)

allow untrusted_app system_app_service:service_manager find;

# allow to write to nvfeedback.log
allow untrusted_app anr_data_file:file write;

# allow external storage access, like gallery app
allow untrusted_app fuseblk:dir r_dir_perms;
allow untrusted_app fuseblk:file r_file_perms;

# Allow chrome to access wireless stats using ioctl 8B0F
allow untrusted_app self:udp_socket 0x8B0F;

# Dont audit untrusted app accessing kernel
dontaudit untrusted_app kernel:dir { search getattr };
