# Copyright (c) 2014-2015, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


type update_js_touch_fw, domain;
type update_js_touch_fw_exec, exec_type, file_type;

init_daemon_domain(update_js_touch_fw)

domain_auto_trans(update_js_touch_fw, gpload_exec, gpload)
domain_auto_trans(update_js_touch_fw, ctload_exec, ctload)
allow update_js_touch_fw system_file:file execute_no_trans;
allow update_js_touch_fw shell_exec:file { read open execute };
allow update_js_touch_fw input_device:dir search;
allow update_js_touch_fw input_device:chr_file getattr;
